<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <form action="/user/login" method="post">
        <table>
            <tr>
                <th>用户登录</th>
            </tr>
            <!--用户判断用户名密码是否正确，给出提示-->
            <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
            <tr>
                <td>用户名：</td>
                <td><input type="text" name="userName" placeholder="请输入用户名"/></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="text" name="passWard" placeholder="请输入密码"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="登录"/></td>
                <td><input type="reset" value="取消"/></td>
            </tr>
        </table>
    </form>
</body>
</html>